<%- include("../../views/partials/admin/header") %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
    <div class="container mt-5">
        <h3 class="mb-4">Order Status Management</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Status</th>                      
                        <th>Update Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=order._id%></td>
                        <td><%=order.userId.name%></td>
                        <td>
                            <div><strong><%=order.orderStatus%></strong></div>                           
                        </td>
                        
                        <td>
                        
                        <%if(order.orderStatus !== "Deliverd" && order.orderStatus !== "Cancelled"){%>

                            <form action="/admin/orderEdit/<%= order._id%>" method="POST" class="d-flex">
                                <input type="hidden" name="orderId" value="<%= order._id%>">
                                <select name="status" class="form-select me-2">

                                    <% const updateStatus = orderStatuses[order.orderStatus]
                                       updateStatus.forEach(status=>{
                                    %>

                                    <option value="<%= status%>"><%= status%></option>

                                    <%})%>


                                    <!-- <option value="Pending" <%= order.status === 'Pending' ? 'selected':''%>>Pending</option>
                                    <option value="Confirmed" <%= order.status === 'Confirmed' ? 'selected':''%>>Confirmed</option>
                                    <option value="Shipped" <%= order.status === 'Shipped' ? 'selected':''%>>Shipped</option>
                                    <option value="Deliverd" <%= order.status === 'Deliverd' ? 'selected':''%>>Deliverd</option>
                                    <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected':''%>>Cancelled</option> -->
                                </select>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>

                        <%}else{%>   
                            <div><strong>No Actions Allowed...!</strong></div>
                        <%}%>    
                        </td>
                        <td>
                            <a href="/admin/orderList" class="btn btn-secondary btn-sm">Cancel Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

