<%- include("../../views/partials/user/header") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <form method="POST" id="orderForm" action="/placeOrder" onsubmit="return placeOrder(event)">
                <div class="container">
                    <div class="row">
                        <!-- Billing Details -->
                        <div class="col-md-6">
                            <h4>Billing Details</h4>
                            <div class="form-group">
                                <input type="text" name="fname" placeholder="First Name *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="lname" placeholder="Last Name *" required>
                            </div>
                           

                            <% if (addresses && addresses.length> 0) { %>
                                <h5>Select Shipping Address:</h5>
                                <% addresses.forEach((addr, index)=> { %>
                                    <div class="address-option">
                                        <input type="radio" name="selectedAddress" id="address-<%= index %>"
                                            value="<%= addr._id %>" <%=index===0 ? 'checked' : '' %>>
                                        <label for="address-<%= index %>">
                                            <p><strong>Address Type:</strong>
                                                <%= addr.addressType %>
                                            </p>
                                            <p><strong>Name:</strong>
                                                <%= addr.name %>
                                            </p>
                                            <p><strong>City:</strong>
                                                <%= addr.city %>
                                            </p>
                                            <p><strong>Landmark:</strong>
                                                <%= addr.landMark %>
                                            </p>
                                            <p><strong>State:</strong>
                                                <%= addr.state %>
                                            </p>
                                            <p><strong>Postal Code:</strong>
                                                <%= addr.pincode %>
                                            </p>
                                            <p><strong>Phone:</strong>
                                                <%= addr.phone %>
                                            </p>
                                            <p><strong>Alt Phone:</strong>
                                                <%= addr.altPhone %>
                                            </p>
                                        </label>
                                        <hr>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p>No addresses found. Please update your profile with a shipping address.
                                            </p>
                                            <% } %>
                        </div>

                        <!-- Order Summary -->
                        <div class="col-md-6">
                            <h4>Your Orders</h4>
                            <div class="table-responsive order_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (cart.length> 0) { %>
                                            <% cart.forEach(item=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/re-image/<%= item.productId.productImage[0] %>"
                                                            alt="#">
                                                    </td>
                                                    <td>
                                                        <h5>
                                                            <%= item.productId.productName %>
                                                        </h5>
                                                        <span class="product-qty">Qty: <%= item.quantity %></span>
                                                    </td>
                                                    <td>
                                                        <%= item.totalPrice %>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="3">Oops... No items found in your cart!</td>
                                                        </tr>
                                                        <% } %>
                                                            <tr>
                                                                <th>Subtotal</th>
                                                                <td colspan="2">
                                                                    <%= subTotal.toFixed(2) %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Shipping</th>
                                                                <td colspan="2">Free Shipping</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Total</th>
                                                                <td colspan="2" class="font-xl text-brand fw-900">
                                                                    <%= total.toFixed(2) %>
                                                                </td>
                                                            </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Payment Methods -->
                            <h5>Payment</h5>
                            <div class="payment_option">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="online"
                                        value="bankTransfer">
                                    <label class="form-check-label" for="online">Direct Bank Transfer</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="cod"
                                        value="COD" checked>
                                    <label class="form-check-label" for="cod">Cash on Delivery</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="paypal"
                                        value="Online">
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                            </div>

                            <button type="submit" id="placeOrderButton"
                                class="btn btn-fill-out btn-block mt-30">Place
                                Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <%- include("../../views/partials/user/footer") %>

        <script>
            async function placeOrder(event) {
                // Prevent the form from submitting
                if (event) {
                    event.preventDefault();
                }

                try {
                    const selectedAddress = document.querySelector("input[name='selectedAddress']:checked").value;

                    const paymentMethod = document.querySelector("input[name='paymentMethod']:checked").value;
                    console.log("Selected Address:", selectedAddress);
                    console.log("Payment Method:", paymentMethod);

                    

                    const response = await fetch("/placeOrder", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ selectedAddress, paymentMethod }),
                    });

                    const data = await response.json();

                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: "Order Placed Successfully",
                            text: `Your Order ID is: ${data.orderId}`,
                            confirmButtonText: "OK",
                        }).then(() => {
                            window.location.href = "/cart"; // Redirect after success
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Order Placing Failed",
                            text: data.message,
                            confirmButtonText: "OK",
                        });
                    }
                } catch (error) {
                    console.error("Error Placing Order", error);
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "An error occurred while placing the order. Please try again later.",
                        confirmButtonText: "OK",
                    });
                }
            }

        </script>